@font-face {
    font-family: 'SimSun';
    src: local('SimSun'), url(simsun.ttc);
}

/* @font-face {
    font-family: Eva;
    src: local("EVA-Matisse_Classic EB"), url(C://Windows/Fonts/EVA-Matisse_Classic.ttf);
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    image-rendering: pixelated;
    letter-spacing: 3px;
    /* enable outline for layout debug */
    /* outline: 1px green solid; */
}

/* link display */
p {
    text-align: justify;
    /* word-break: break-all; */
}

a:link, a:visited {
    color: #d2738a;
    font-style: italic;
}

a:hover {
    animation: wiredB .8s ease-out infinite;
}

/* grid items */
nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* .grid-item {
    background-color: palegreen;
    outline: 1px solid red;
} */

body {
    max-width: 70dvw;
    font-family: 'Times New Roman', 'SimSun', system-ui, sans-serif;

    /* https://fauux.neocities.org/ */
    background-image: url(img/3x.gif);
    background-image: url(img/512x.gif) ;
    background-color: rgba(0, 0, 0, 0);
    color: #c1b492;

    margin: auto;
    display: grid;
    grid-template-areas:
        "nav nav"
        "main article"
        "main aside"
        "footer footer";
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

#siteName {
    display: block;
    font-family: 'SimSun', serif;
    font-size: 3em;
}

@media screen and (min-width: 0) and (max-width: 426px) {
    body {
        max-width: 90dvw;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "aside"
            "article"
            "main"
            "footer";
    }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
    body {
        max-width: 90dvw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "nav nav"
            "main main"
            "article aside"
            "footer footer";
    }
}

@keyframes wiredB {
    50% {
        color: #c1b492;
        text-shadow: #d2738a 1px 4px 5px;
    }
}