@font-face {
    font-family: "SimSun";
    src: local("SimSun"), url(simsun.ttc);
}

/* @font-face {
    font-family: Eva;
    src: local("EVA-Matisse_Classic EB"), url(C://Windows/Fonts/EVA-Matisse_Classic.ttf);
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    /* enable outline for layout debug */
    /* outline: 1px green solid; */
}

/* grid items */
nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* .grid-item {
    background-color: palegreen;
    outline: 1px solid red;
} */

body {
    max-width: 70dvw;
    font-family: "SimSun", system-ui, sans-serif;

    margin: auto;
    display: grid;
    grid-template-areas:
        "nav nav"
        "main article"
        "main aside"
        "footer footer";
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: 2fr 1fr;
}

#siteName {
    display: block;
    font-size: 3em;
}